#wrapper {
    width: 800px;
    outline: 1px solid #cccccc;
    padding: 10px;
    margin: 0 auto;
}

#header {
    height: 150px;
    background-color: aqua;
    margin-bottom: 12px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}
#sidebar {

    background-color: #7ec6fd;
    margin-bottom: 12px;
    width: 150px;
    float: left;
}

#block1 {

    background-color: #fd7e87;
    margin-bottom: 12px;
    width: 640px;
    float: right;

}
#block2 {
    
    background-color: #7e9ffd;
    margin-bottom: 12px;
    width: 640px;
    float: right;
}
#block3 {

    background-color: #a1a4af;
    margin-bottom: 12px;
    width: 640px;
    float: right;
}
#footer {
    height: 150px;
    background-color: #d27efd;
    margin-bottom: 12px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    margin: auto;
}
.clear {
    clear: both;
}